@{
    ViewBag.Title = "Home Page";
}




<div class="row">

    <div id="particles-js">

        <div id="text-head">
            <h1 class="mb-2">
                MoneyCounter
            </h1>
            <h3 class="text-uppercase"> думай - копи - наслаждайся</h3>
        </div>


    </div>


</div>
<div class="row text-center mt-3">
    <div class="col-md-4 ">
        <h3>Lorem</h3>
        <img class="img-fluid" src="~/img/piechart_78388.png" alt="Alternate Text" />
        <p class="mt-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dolore repudiandae quasi. Repellendus nulla veniam aut cumque libero vitae, vel voluptatum adipisci ex quasi harum voluptates. Libero est impedit dolores?
        </p>
    </div>
    <div class="col-md-4">
        <h3>Lorem</h3>
        <img class="img-fluid" src="~/img/safebox_78389.png" alt="Alternate Text" />
        <p class="mt-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dolore repudiandae quasi. Repellendus nulla veniam aut cumque libero vitae, vel voluptatum adipisci ex quasi harum voluptates. Libero est impedit dolores?
        </p>
    </div>
    <div class="col-md-4">
        <h3>Lorem</h3>
        <img class="img-fluid" src="~/img/profits_78367.png" alt="Alternate Text" />
        <p class="mt-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dolore repudiandae quasi. Repellendus nulla veniam aut cumque libero vitae, vel voluptatum adipisci ex quasi harum voluptates. Libero est impedit dolores?
        </p>
    </div>
</div>
<hr />
<div class="row text-center mt-3">
    <div class="col-md-8 ">
        <canvas id="myChart"></canvas>
    </div>
   
    <div class="col-md-4">
        <h3>Lorem</h3>

        <p class="mt-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dolore repudiandae quasi. Repellendus nulla veniam aut cumque libero vitae, vel voluptatum adipisci ex quasi harum voluptates. Libero est impedit dolores?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius dolore repudiandae quasi. Repellendus nulla veniam aut cumque libero vitae, vel voluptatum adipisci ex quasi harum voluptates. Libero est impedit dolores?
        </p>
    </div>
</div>
